@model dynamic

@foreach (var item in Model)
{
    if (!string.IsNullOrEmpty((string)item.LinkMenuItemPart.Url))
    {
        <a class="list-group-item" href="@Url.Content((string)item.LinkMenuItemPart.Url)">@item.LinkMenuItemPart.Name</a>
    }
    if (item.MenuItemsListPart?.MenuItems != null)
    {
        <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/LinkList.cshtml" model="item.MenuItemsListPart.MenuItems" />
    }
}
