@foreach (var service in Model)
{
    <div class="col-lg-4 mb-4">
        <div class="card h-100">
            <h4 class="card-header">@service.DisplayText</h4>
            <div class="card-body">
                <p class="card-text">@Html.Raw(service.Content.HtmlBodyPart.Html)</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">@T["Learn More"]</a>
            </div>
        </div>
    </div>
}