<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="OrchardCoreDev" value="https://www.myget.org/F/orchardcore-preview/api/v3/index.json" />
    <!-- optional (remove if not needed): also get packages from the nuget.org -->
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>