@page

@functions{
    string test = "test value";
}

@section Header {
    <h2>this should appear in the header section </h2>
}
@section Messages {
    <h3>this is for the messages section</h3>
}

@section Footer {
    <h4>For the footer section!</h4>
}
<h1>The body: <br />This is the razor page with a value for test: @test</h1>
