@page
@inject OrchardCore.IOrchardHelper Orchard

@functions{
    string test = "test value";
}

@{

    var portfolio = await Orchard.QueryContentItemsAsync(q => q.Where(s => s.ContentType == "Project").Take(2).Skip(2));
    var project = portfolio.First();
    var carousel = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Carousel"));
    var services = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Service").OrderByDescending(o => o.PublishedUtc));
    var service=services.First();

}

@section Header {
    <h2>this should appear in the header section </h2>
}
@section Messages {
    <h3>this is for the messages section</h3>
}

@section Footer {
    <h4>For the footer section!</h4>
}
<h1>The body: <br />This is the razor page with a value for test: @test</h1>

<img asset-src="@project.Content.Project.Image.Paths[0]" img-width="200" img-height="100" img-resize-mode="Crop" />

<h2>@project.Content.TitlePart.Title</h2>

<h3>@service.Content</h3>
@carousel