@page

@{
    var servicesContainer = Orchard.GetRecentContentItemsByContentTypeAsync("Services").GetAwaiter().GetResult().SingleOrDefault();
    var servicesList = Orchard.GetRecentContentItemsByContentTypeAsync("Service", 3).GetAwaiter().GetResult().OrderBy(s => s.PublishedUtc);

    var portfolioList = Orchard.GetRecentContentItemsByContentTypeAsync("Project", 6).GetAwaiter().GetResult().OrderBy(p => p.PublishedUtc);
    var portfolioContainer = Orchard.GetRecentContentItemsByContentTypeAsync("Portfolio").GetAwaiter().GetResult().SingleOrDefault();
    var welcomeContent = Orchard.GetContentItemByAliasAsync("alias:welcome").GetAwaiter().GetResult();

}

@section Nav {
}

@section Header {
    <partial name="Carousel" />
}

@section Messages {
}

@section Footer {
}

<h1 class="my-4">@servicesContainer?.Content?.TitlePart.Title</h1>
<!-- Marketing Icons Section -->
<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ServiceCards.cshtml" model="servicesList" />
</div>
<!-- /.row -->
<!-- Portfolio Section -->
<h2>@portfolioContainer?.Content?.TitlePart.Title</h2>

<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCards.cshtml" model="portfolioList" />
</div>
<!-- /.row -->
<!-- Features Section -->
<div class="row">
    <div class="col-lg-6">
        @Html.Raw(welcomeContent.Content.HtmlBodyPart.Html)
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" asset-src="@welcomeContent.Content.RawContent.Images.Paths[0]" img-width="700" img-height="400" img-resize-mode="Crop" />
    </div>
</div>
<!-- /.row -->

<hr>

<!-- Call to Action Section -->
<div class="row mb-4">
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
</div>
<!-- /.container -->
