body {
	padding-top: 54px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}

.top-lang {
	z-index: 100;
	position: absolute;
	right: 0px;
}


.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}

.login {
	z-index: 100;
}

.lang-drop * {
	background-color: #343a40;
	color: rgba(255, 255, 255, 0.75);
	border-style: none;
}


.card-footer {
	background-color: white;
}

	.card-footer a {
		color: white;
	}

.carousel-caption {
	background: linear-gradient(rgba(255,255,255,0.1),rgba(0, 0, 0,0.2));
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 70px;
	z-index: 10;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: -70px;
}


#carousel-title {
	color: white;
	font-size: 70px;
}

#carousel-desc {
	color: white;
	font-size: 25px;
}

.card-header {
	color: #007bff !important;
}

.nav-link {
	color: white !important;
}

	.nav-link:hover {
		color: rgba(255, 255, 255, 0.75) !important;
	}

.text-muted {
	color: white !important;
}

.btn-block {
	background-color: #007bff !important;
	border-color: #007bff !important;
}

.my-4 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.servicesTitle {
	margin-top: 1.1rem;
	margin-bottom: 3rem;
}