@model TestTagPartPartViewModel

@*<style asp-src="/TestTagPart.OrchardCore/Assets/css/projects.min.css"></style>*@
@*<style asp-src="../Assests/css/css/taggle.css"></style>*@
<style asp-src="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css"></style>
<script asp-src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" asp-name="angularJs" at="Head"></script>
<script asp-src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js" asp-name="ngTags" at="Head"></script>
<script at="Head">document.write('<base href="' + document.location + '" />');</script>
<script at="Head">
    var app = angular.module('plunker', ['ngTagsInput']);

    app.controller('MainCtrl', function ($scope, $http) {
        $scope.tags = [
            { text: 'Tag1' },
            { text: 'Tag2' },
            { text: 'Tag3' }
        ];
    });
</script>
<style asp-src="~/TestTagPart.OrchardCore/Assets/css/normalize.css"></style>
<style asp-src="~/TestTagPart.OrchardCore/Assets/css/stylesheet.css"></style>
<!--[if IE 8]><script src="js/es5.js"></script><![endif]-->
<script asp-src="~/TestTagPart.OrchardCore/Assets/js/jquery.min.js" at="Head"></script>
<script asp-src="~/TestTagPart.OrchardCore/Assets/js/standalone/selectize.js" at="Head"></script>
<script asp-src="~/TestTagPart.OrchardCore/Assets/js/index.js" at="Head"></script>
<script asp-src="~/TestTagPart.OrchardCore/Assets/js/jqueryui.js" at="Head"></script>



<fieldset class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="Show">
            <input asp-for="Show" type="checkbox" class="form-check-input" />
            @T["Show"]
        </label>
        <br />
        @*<label class="form-check-label" asp-for="Tags">
                <input asp-for="Tags" type="text" class="form-control" />
                @T["Tags"]
            </label>*@
    </div>
    <div ng-app="plunker">
        <div ng-controller="MainCtrl">
            <tags-input ng-model="tags" asp-for="Tags"></tags-input>
            <input asp-for="Tags" value="{{tags}}" />
            <p>Model: {{tags}}</p>
        </div>
    </div>

    <div class="demo">
        <h2>Tags</h2>
        <div class="control-group">
            <label for="input-tags">Tags:</label>
            <input type="text" id="input-tags" class="demo-default form-control" value="awesome,neat">
        </div>
        <script at="Foot">
            $('#input-tags').selectize({
                persist: false,
                createOnBlur: true,
                create: true
            });
        </script>
    </div>
</fieldset>