@model TestTagPartPartViewModel
@using OrchardCore.ContentManagement.Metadata.Models


<style asp-src="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css"></style>
<script asp-src="https://unpkg.com/vue-multiselect@2.1.0" asp-name="vuemultiselect" at="Foot"></script>

<fieldset class="form-group">
    <div class="form-check">
        <label class="form-check-label" asp-for="Show">
            <input asp-for="Show" type="checkbox" class="form-check-input" />
            @T["Show"]
        </label>
        <br />
        @*<label class="form-check-label" asp-for="Tags">
                <input asp-for="Tags" type="text" class="form-control" />
                @T["Tags"]
            </label>*@
    </div>

    <div>
        <label class="typo__label" asp-for="Tags">Tagging</label>
        <multiselect v-model="value" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="options" :multiple="true" :taggable="true"></multiselect>
        <pre class="language-json"><code>{{ value }}</code></pre>
    </div>
</fieldset>