@inject OrchardCore.Settings.ISiteService SiteService
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization

@{
    var settings = await SiteService.GetSiteSettingsAsync();
}

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = settings.SupportedCultures.Select(i => new SelectListItem { Value = i, Text = CultureInfo.GetCultureInfo(i).NativeName }).ToList();
}
<div class="float-right">
    <ul class="navbar-nav menu">
        <li class="nav-item">
            <form class="lang-drop pt-2" id="selectLanguage" asp-area="ModernBusiness.Theme" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post">
                <select class="dropdown" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems" onchange="this.form.submit();"></select>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Welcome @User.Identity.Name<i class="pl-1 fas fa-user-tie"></i>
            </a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Logout<i class="pl-1 fas fa-power-off"></i>
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" href="~/Login">
                    Login<i class="pl-1 fas fa-power-off"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Register">
                    Register<i class="pl-1 fas fa-user-plus"></i>
                </a>
            </li>
        }
    </ul>
</div>
