<li class="nav-item {% if Model.HasItems %} dropdown {% endif %}">
    {% shape_clear_alternates Model %}
    {% shape_type Model "MenuItemLink" %}
    {{ Model | shape_render }}
    {% if Model.HasItems %}
    {{ item | shape_render }}
    {% endif %}
</li>