@{
    TagBuilder ulTag = Tag(Model, "ul");
    ulTag.AddCssClass("navbar-nav ml-auto");

    foreach (var item in Model.Items)
    {
        ulTag.InnerHtml.AppendHtml(await DisplayAsync(item));
    }
}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.RouteUrl(Site.BaseUrl)">@Site.SiteName</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @ulTag
        </div>
    </div>
</nav>