@page
@model dynamic
@functions{
}

@{
}

@section Nav {
}

@section Header {
}

@section Messages {
}

@section Footer {
}

<h1>The body: <br />@T[$"This is portfolio"]</h1>
@*<partial name="test" model="@somemodel"/>*@