@page "{ProjectTitle?}"
@model portfolioModel

@inject IContentItemDisplayManager DisplayManager

@functions{
    [FromRoute]
    public string ProjectTitle { get; set; }
}

@{
}

@section Nav {
}
@section Header {
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/BreadcrumbHeader.cshtml" model="Model.Portfolio" />

}
@section Messages {
}
@section Footer {
    @if (!string.IsNullOrEmpty(ProjectTitle))
    {
        <div class="alert alert-primary">you wanted project @ProjectTitle</div>
    }
}

@{

}
<br /><br /><br />
@{

}
<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCards.cshtml" model="Model.PagerInfo" />
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/PagerControl.cshtml" model="Model.PagerInfo">
</div>