@page "{ProjectTitle?}"
@model dynamic
@functions{
    [FromRoute]
    public string ProjectTitle { get; set; }
}

@{
    var portfolio = await Orchard.QueryContentItemsAsync(q => q.Where(c => c.ContentType == "Project" && c.Published).Take(6));
}

@section Nav {
}
@section Header {

}
@section Messages {

}
@section Footer {
    <div class="alert alert-primary">you wanted project @ProjectTitle</div>

}

<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCard.cshtml" model="portfolio" />
</div>