@page

@model portfolio2Model

@inject IContentItemDisplayManager DisplayManager

@section Nav {
}
@section Header {
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/BreadcrumbHeader.cshtml" model="Model.Portfolio" />
}
@section Messages {
}
@section Footer {
}

<div class="row">
    <partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/ProjectCards2.cshtml" model="Model.PagerInfo" />
</div>
<partial name="/Areas/ModernBusiness.Pages.Shared/Pages/Shared/PagerControl.cshtml" model="Model.PagerInfo">
