@{
    Layout = "Layout.cshtml";
    var mainMenu = await Orchard.GetContentItemByAliasAsync("alias:main-menu");
}

<h1 class="mt-4 mb-3">
    404
    <small>@T["Page Not Found"]</small>
</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/">Home</a>
    </li>
    <li class="breadcrumb-item active">404</li>
</ol>
<div class="jumbotron">
    <h1 class="display-1">404</h1>
    <p>@T["The page you're looking for could not be found. Here are some helpful links to get you back on track:"]</p>
    <partial name="sitemap" model="mainMenu.Content.MenuItemsListPart.MenuItems" />

</div>

